<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">avatar</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="../../assets/anonymous.jpg" alt="Avatar Ionic">
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-chip color="primary" mode="md" outline="true" *ngFor="let item of [1,1,1,1,1]">
    <ion-avatar>
      <img src="../../assets/anonymous.jpg" alt="Avatar Ionic">
    </ion-avatar>
    <ion-label>default</ion-label>
  </ion-chip>

  <ion-list>
    <ion-item *ngFor="let a of avatares">
      <ion-label>{{ a.name }}</ion-label>
      <ion-avatar slot="end">
        <img src="{{ a.icon }}" alt="Avatar Ionic">
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>
