<app-header titulo="Cards"></app-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Transformers</ion-card-title>
      <ion-card-subtitle>El despertar de las bestias</ion-card-subtitle>
    </ion-card-header>
    <img src="../../assets/trm.webp" alt="Transformers">
    <ion-card-content class="ion-text-justify">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem sapiente dicta omnis
      adipisci odit inventore. Sequi, modi vero? Tenetur soluta fugit repudiandae quia cupiditate
      magni adipisci voluptatem blanditiis similique voluptas.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>My Subtitle</ion-card-subtitle>
      <ion-card-title>My Title</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem sapiente dicta omnis
      adipisci odit inventore. Sequi, modi vero? Tenetur soluta fugit repudiandae quia cupiditate
      magni adipisci voluptatem blanditiis similique voluptas.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Awesome label</ion-label>
    </ion-item>
    <ion-card-content class="ion-text-justify">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem sapiente dicta omnis
      adipisci odit inventore. Sequi, modi vero? Tenetur soluta fugit repudiandae quia cupiditate
      magni adipisci voluptatem blanditiis similique voluptas.
    </ion-card-content>
  </ion-card>
</ion-content>
